.icon-left {
  position: absolute;
  top: 45%;
  left: 5%;

}

.icon-right {
  position: absolute;
  bottom: 45%;
  right: 5%;

}

.season-display.winter i {
  color: blue;
}

.season-display.summer i {
  color: red;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}
